site_name: hNMF
site_description: Rank-2 NMF for Hierarchical Clustering
site_author: Eric Stasney
copyright: Copyright &copy; 2019 - 2026 Eric Stasney

repo_url: https://github.com/estasney/hNMF
repo_name: estasney/hNMF
edit_uri: edit/master/docs_src/

docs_dir: docs_src
site_dir: docs

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - search.suggest
    - search.highlight
    - content.code.copy

nav:
  - Home: index.md
  - API Reference: api.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: true
            show_root_heading: true
            show_root_toc_entry: true
            heading_level: 2
            show_if_no_docstring: false
            show_docstring_attributes: true
            merge_init_into_class: true
            
            

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html